{% extends 'base.html' %}
{% block denglu %}
  <li><a href="/user/logout" >退出</a></li>
{% endblock %}

{% block sousuo %}

{% endblock %}

{% block js %}
<script type="text/javascript">
    var sug_val = document.querySelectorAll(".chuli .sug-val");
    var yes = document.querySelectorAll(".chuli .yes");
    var sug_val_j = document.querySelectorAll(".jieguo .sug-val");
    var yes_j = document.querySelectorAll(".jieguo .yes");

    for(var i= 0; i< sug_val.length; i++){

      yes[i].value = (sug_val[i].value === "True")? "已审批" : "未审批";
      /*if(sug_val[i].value === "True"){
        yes[i].value = "已审批";
      }else{
        yes[i].value = "未审批";
      }*/
      yes_j[i].value = (sug_val_j[i].value === "True")? "已通过" : "未通过";
   
    }

</script>
{% endblock %}

{% block css %}
<style type="text/css">
    .show-info .ula,.show-info .chuli,.show-info .jieguo{
      display: inline-block;
      width:33%;
      text-indent: 2em;
    }
    .ul-box{
      height:35px;
      background: #eee;
      line-height: 35px;
      margin-top:10px;
    }
    .ul-box div{
      width:33%;
      float:left;
      text-indent: 2em;
    }
    .page{
      height:70px;
      overflow: hidden;
      margin-top:30px;
    }
    .page-box{
      position: relative;
    }
    .page-box .pagination.page-ul{
      position: absolute;
      left:50%;
      transform: translateX(-50%);
    }

    .input-pag,.input-submit{
      width:40px;
      height:33px;
      outline: none;
      border:1px solid #ccc;
      border-radius:3px;
    }
    .input-pag{
      width:50px;
      padding-left:15px;
    }

  
</style>
{% endblock %}

{% block center %}


<div class="ul-box">
  <div class="ul-left">创意</div>
  <div class="ul-middle">是否浏览</div>
  <div class="ul-right">是否受理</div>
</div>
<div class="show-info">
    {% for sug in page %}

        <div class="ula">
          <a  href="/show_info/{{ sug.id }}">{{ sug.title }}</a>
        </div>
        <div class="chuli">
        <input class="sug-val" type="hidden" value="{{ sug.is_sl }}" name="is">
        
        <!-- 是否浏览 -->
            <input class="yes" type="text" value="已处理" style="border: 0px" readonly="readonly">
      
           
        
        </div>
        <div class="jieguo">
         <input class="sug-val" type="hidden" value="{{ sug.sl }}" name="is">
        
        <!-- 是否浏览 -->
            <input class="yes" type="text" value="已处理" style="border: 0px" readonly="readonly">
        
        
        </div>
        

    {% endfor %}
</div>
<div class="page">
<nav aria-label="Page navigation" class="page-box">

        <ul class="pagination page-ul">
    <li>
      <a href="1" aria-label="Previous">
        <span aria-hidden="true">第一页</span>
      </a>
    </li>
      {% for index in page.paginator.page_range %}
          {% if index <= 10 %}
            <li> <a href="{{ index }}">{{ index }}</a></li>

          {% endif %}
    {% endfor %}

    <li>
      <a href="{{ last }}" aria-label="Next">
        <span aria-hidden="true">尾页</span>
      </a>
    </li>
    <div style="float: left">
      <form action="/" method="get">
          &nbsp;
          <input class="input-pag" type="text" name="input_page">
          <input class="input-submit" type="submit" value="跳转">

      </form>
  </div>
  </ul>

</nav>
</div>


{% endblock %}